body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6fa;
}

.container {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(21, 20, 20);
  padding: 20px;
}

.sidebar {
  width: 300px;
  background-color: #1d1d1f;
  display: flex;
  flex-direction: column;
}

.user-profile {
  padding: 20px;
}

.user-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
}

.user-avatar-2 {
  width: 75px;
  height: 75px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.create-group-icon {
  width: 10%;
  cursor: pointer;
}

.search-results {
  padding: 0 20px;
  margin-bottom: 10px;
  width: 50%;
  align-self: center;
}

.user-list,
.searched-users {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.user-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.user-item:hover {
  background-color: #252424;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #f2e9e9;
  flex: 1;
}

.user-message-preview {
  color: #999;
  font-size: 14px;
}

.search-bar {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-self: center;
}

.h1 {
  text-align: center;
}

.main-content .chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-content .chat-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.main-content .chat-header .name {
  font-size: 18px;
  font-weight: bold;
}

.main-content .chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f1f2f6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content .chat-box .message {
  margin-bottom: 20px;
}

.main-content .chat-box .message.sent {
  text-align: right;
}

.main-content .chat-box .message .text {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 60%;
}

.main-content .chat-box .message.sent .text {
  background-color: #4c92ff;
  color: #fff;
}

.main-content .chat-box .message.received .text {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.main-content .input-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main-content .input-box input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.main-content .input-box button {
  background-color: #4c92ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/*login page style */
#login-page {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f6fa;
}

#login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

#login-title {
  margin-bottom: 20px;
  color: #192a56;
}

.login-input {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border: 0.8px solid #ddd;
  border-radius: 5px;
}

#login-button {
  width: 100%;
  padding: 15px;

  background-color: #4c92ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#login-button:hover {
  background-color: #3b78e0;
}

#login-signup-link {
  margin-top: 15px;
  display: block;
  color: #192a56;
  text-decoration: none;
}

#login-signup-link:hover {
  text-decoration: underline;
}

/* notification style */

.notification-container {
  display: flex;
  justify-content: center;
}

.notification-card {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 150px;
  border: 1px solid #515050;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-content {
  flex: 1;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  font-weight: bold;
  margin-right: 7px;
}

.message-count {
  font-size: 0.9em;
  color: #888;
}

.last-message-preview {
  margin: 8px 0 0;
  color: #555;
}

/* Estilos do formulário */

.div {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #515050;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 2;
  padding-right: 20px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 80px;
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

/* Estilos da lista de contatos */
.contacts-container {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  height: 390px; /* Altura fixa */
  overflow-y: auto; /* Permite rolagem vertical */
  overflow-x: hidden; /* Oculta a rolagem horizontal, se necessário */
}

.contacts-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  display: flex;
  justify-content: space-between;
  width: 130px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.contact-name {
  font-size: 1em;
}

.add-contact-btn {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.add-contact-btn-2 {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
}

.add-contact-btn:hover,
.add-contact-btn-2:hover {
  background-color: #218838;
}

.notification-icon {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.bell-icon {
  font-size: 20px;
}

.notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  display: none; /* Inicialmente escondido */
}

.notification-count.show {
  display: inline; /* Exibe o número quando houver notificações */
}

.invitation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-right: 14px;
}

p {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-invitation {
  background-color: #28a745;
  color: white;
}

.accept-invitation:hover {
  background-color: #218838;
}

.deny-invitation {
  background-color: #dc3545;
  color: white;
}

.deny-invitation:hover {
  background-color: #c82333;
}
